.header-logo:hover {
    .cls-1-h {
        fill: white;
        transition: all 0.5s ease-in-out;
    }
}

.github:hover {
    fill: white;
    transition: all 0.5s ease-in-out;
}

.linkedin:hover {
    .out {
        fill: white;
        transition: all 0.5s ease-in-out;
    }

    .in {
        fill: #007EBB;
        transition: all 0.5s ease-in-out;
    }
}