@use "../abstracts/variables" as c;

.header-logo:hover {
    .cls-1-h {
        fill: white;
        transition: all 0.5s ease-in-out;
    }
}

.github path {
    transition: all 0.5s ease-in-out;
}

.github:hover {
    path {
        fill: white;
    }
}

.linkedin:hover {
    .out {
        fill: white;
        transition: all 0.5s ease-in-out;
    }

    .in {
        fill: c.$green;
        transition: all 0.5s ease-in-out;
    }
}