@use "../abstracts/variables" as c;

p, a, li, #submit-contact {
    font-family: 'Rockwell';
    color: rgb(235, 235, 235);
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.5px;
}

a {
    text-decoration: none;
    &:visited {
        color: rgb(235, 235, 235);
        &:hover {
            color: rgb(235, 235, 235);
            transition: all 0.5s ease-in-out;
        }
    }
    &:hover {
        color: rgb(235, 235, 235);
        transition: all 0.5s ease-in-out;
    }
}

h3 {
    font-family: 'Eras ITC';
    font-weight: 600;
    color: rgb(235, 235, 235);
    font-size: 30px;
}

li a {
    &:not(.external-link) {
        font-family: 'Eras ITC';
        font-weight: 600;
        text-decoration: none;
        color: black;
        font-size: 16px;
        &:hover {
            text-decoration: underline;
            color: rgb(235, 235, 235);
            transition: all 0.5s ease-in-out
        }
        &:visited {
            color: black;
        }
        transition: all 0.5s ease-in-out
    }
    
}

.external-link {
    text-decoration: underline!important;
    transition: all 0.5s ease-in-out;
}

.external-link:hover {
    color: c.$darkgreen!important;
}

.mobile-X {
    color: black;
    margin-top: 5px;
    margin-right: 10px;
    font-size: 24px;
}

@media screen and (min-width: 768px) {
    p, a, li, #submit-contact {
        font-size: 18px;
    }

    h3 {
        font-size: 36px;
    }

    li a {
        &:not(.external-link) {
            font-size: 18px;
        }
    }

    .mobile-X {
        font-size: 28px;
    }
}

@media screen and (min-width: 1200px) {
    p, a, li, #submit-contact {
        font-size: 22px;
    }

    h3 {
        font-size: 40px;
    }

    li a {
        &:not(.external-link) {
            font-size: 24px;
        }
    }
}