@use "../abstracts/variables" as c;

#about-intro {
    h3 {
        text-align: center;
        margin-bottom: 30px;
    }
    p {
        margin-bottom: 20px;
    }
}

#tab-area {
    padding: 0;
}

.tab {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    cursor: pointer;
}

#professional-tab {
    background-color: rgb(42, 42, 42);
    border: 3px solid c.$green;
    border-bottom: none;
}

#personal-tab {
    background-color: rgb(21, 21, 21);
    border: 3px solid c.$green;
    border-bottom: none;
}

#info-box {
    padding: 0;
    margin-bottom: 50px;
    background-color: rgb(42, 42, 42);
    height: 100%!important;
    border: 3px solid c.$green;
    h3 {
        margin-top: 30px;
        margin-bottom: 20px;
        text-align: center;
    }
}

#about-image-container {
    display: flex;
    height: 400px;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-image: url(../images/professional.jpg);
    background-size: cover;
    background-position: top;
}

#about-bio-button {
    text-align: center;
    p {
        cursor: pointer;
        transition: all 0.5s ease-in-out;
    }
}

.about-bio {
    display: none;
    text-align: left;
}

.bio-heading {
    font-size: 18px;
    border-bottom: 2px solid c.$darkgreen;
}

.bio-text {
    margin-bottom: 25px;
}

#mobile-bio {
    display: none;
    margin-bottom: 20px;
    border-radius: 20px;
    margin-left: 5%;
    margin-right: 5%;
    p {
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
    }
}

#big-screen-bio {
    display: none;
    margin-bottom: 15px;
    p {
        padding-right: 10px;
        padding-left: 0;
    }
}

@media screen and (min-width: 768px) {
    #bio-info {
        order: 1;
    }

    #about-bio {
        display: grid;
    }

    #about-bio-button {
        display: none;
    }

    #big-screen-bio {
        border-radius: 20px;
        display: block;
        margin-right: 10px;
    }

    #mobile-bio {
        display: none!important;
    }

    .bio-heading {
        font-size: 24px;
    }

    #about-image-container {
        display: flex;
        height: 500px;
    }
}

@media screen and (min-width: 1200px) {
    .bio-heading {
        font-size: 28px;
    }

    #about-image-container {
        display: flex;
        height: 600px;
    }
}