@use "../abstracts/variables" as c;

#random-instruction {
    text-align: center;
    margin-bottom: 20px;
    h3 {
        margin-bottom: 10px;
    }
}

#pokemon-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    border: 3px solid c.$green;
    padding: 20px;
    background-color: rgb(42, 42, 42);
    p {
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        margin-bottom: 20px;
    }
    img {
        margin-bottom: 10px;
    }
}

#pokemon-image {
    width: 200px;
}

#select-button {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    a {
        padding: 15px;
        background-color: c.$green;
        border-radius: 43px;
        text-align: center;
        cursor: pointer;
        &:hover {
            background-color: rgb(235, 235, 235);
            color: c.$green;
        }
    }
}

#sound-button {
    margin-top: 10px;
    padding: 5px;
    background-color: c.$green;
    border-radius: 50px;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    &:hover {
        background-color: rgb(235, 235, 235);
        color: c.$green;
    }
}

@media screen and (min-width: 768px) {
   #random-instruction {
        margin-bottom: 30px;
   }

   #pokemon-area {
        margin-bottom: 30px;
   }

   
#select-button {
    text-align: center;
    margin-bottom: 40px;
    a {
        padding: 25px;
    }
}
}