@use "../abstracts/variables" as c;

#opening_text {
    text-align: center;
    border-radius: 10px;
    padding-bottom: 30px;
}

#scoreboard_text {
    border: 3px solid c.$green;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 20px;
    text-align: center;
    background-color: rgb(42, 42, 42);
}

.button {
    border: 3px solid c.$green;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    background-color: rgb(42, 42, 42);
    font-size: 10px;
}

#question_box {
    text-align: center;
}

#answers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#question_box {
    border: 5px solid c.$green;
    border-radius: 10px;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 15px;
    background-color: rgb(42, 42, 42);
}

#answer_1_box, #answer_2_box, #answer_3_box, #answer_4_box {
    width: 300px;
    border: 5px solid c.$green;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(42, 42, 42);
}

.answer p {
    padding: 10px;
}

@media screen and (min-width: 428px) {
    .button {
        font-size: 14px;
    }
}

@media screen and (min-width: 768px) {
    .button {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .answer p {
        padding: 15px;
    }
}