#edit-form {
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    label {
        color: rgb(235, 235, 235);
        font-size: 24px;
    }
    input {
        overflow: hidden;
    }
}